<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.hygcolombia.covid19"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Covid Prueba</name>

    <description>
        Una pequeña prueba de mi aplicacion reto ingenieria. 
    </description>

    <author href="wwww.informatica2015.tk" email="deavilaosvaldo9@gmail.com">
        Osvaldo
    </author>
	
<preference name="orientation" value="portrait" />
<icon src="icon.png" />
<gap:splash src="icon.png" />
<preference name="fullscreen" value="true" />


</widget>
